* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* ---------- Header ---------- */
.navbar {
	background-color: #F8F9FA;
	font-family: 'Tenor Sans', sans-serif;
	box-shadow: 0 5px 50px #EAECEC;
}

.nav-link {
	color: #0C2D2D;
	font-size: 1.3rem;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
}

.nav-link:hover {
	color: #0C2D2D;
	background-color: #F1F1F1;
	font-weight: bold;
	border-bottom: 3px solid #1B9AAA;
	border-radius: 2px 15px 2px 15px;
}

.nav-link:active {
	box-shadow: inset 6px 6px 10px 0 rgba(3, 26, 26, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.7);
}


/*.nav-link:focus {
	border-bottom: 3px solid #1B9AAA;
	border-radius: 2px 15px 2px 15px;
}*/

.navbar-brand {
	font-size: 1.25rem;
	font-weight: 400;
	color: black;
	cursor: pointer;
	text-decoration: none;
}

/* ---------- Header END ---------- */


/* ------------- Body ------------- */

main {
/*	background: url() no-repeat;*/
	background-color: #F8F9FA;
	background-size: cover;
	width: 100%;
/*	height: 100vh;*/
}

main h3 {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 3.5rem;
	font-weight: 600;
}

main h6 {
	font-family: 'Montserrat', sans-serif;
	color: #0C2D2D;
	font-size: 1.5rem;
	line-height: 1;
/*	border-bottom: 3px solid rgb(233, 20, 109);*/
/*	width: 40%;*/
}


/*
.spline-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

spline-viewer, .spline-container script {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/






.about img {
	border: 2px solid #1B9AAA;
	box-shadow: 0 0 25px #1B9AAA;
}

#about-section, #tools-section {
	background-color: #F1F1F1;
}

h1 {
	font-family: 'Hammersmith One', sans-serif;
	/*font-size: 3rem;
	font-weight: 900;*/
	border-bottom: 1px solid #1B9AAA;
	border-radius: 0 50px;
}

h4 {
	font-family: 'Hammersmith One', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	color: #0C2D2D;
}

#projects-section p {
	font-size: 1rem;
}

span {
	color: #1B9AAA;
}

.card {
	border: none;
	outline: none;
}

.card p {
	color: #0C2D2D;
}

#projects-section .card {
	box-shadow: inset 5px 5px 8px 0 rgba(3, 50, 50, 0.1), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.7);
}

.projects-images {
	box-shadow: 10px 10px 15px 0 rgba(3, 26, 26, 0.2);
}

.carousel-item:hover img {
	transform: scale(1.1);
}

.carousel-item img {
	transition: transform 0.5s;
}

/*#tools-section h4 {
	border-bottom: #0C2D2D;
}*/

#tools-section .card {
	border: 0.5px solid #1B9AAA;
	border-radius: 20px;
	box-shadow: 0 10px 25px rgba(3, 50, 50, 0.1);
}

footer {
	background-color: #1B9AAA;

}

.circle {
	height: 70px;
	width: 70px;
	background-color: whitesmoke;
	padding: 12px;
	font-size: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 20px;
}

.btn {
	transition: 0.4s;
}

form {
	font-family: 'Montserrat', sans-serif;
}

.button {
	color: #EFF5F5;
/*	background-color: #2E6B68;*/
/*	background-color: #1B9AAA;*/
	background-color: #252828;
	border: none;
	padding: 14px 28px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}

.button:hover {
	background-color: #1B9AAA;
}

.button:active {
	color: #EFF5F5;
	background-color: #1B9AAA;
	box-shadow: 0 10px 25px rgba(3, 50, 50, 0.1);
	transform: translateY(3px);
}


footer {
/*	background-color: #0A6868;*/
/*	background-color: #DDE8E8;*/

	background-color: #252828;
}

footer p {
	color: #F1F1F1;
	font-size: 1rem;
}

/*@media only screen and (max-width: 600px) {
	#tools-section img {
		height: 100px;

	}*/