* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.sample-webpage,
.sample-webpage * {
  box-sizing: border-box;
}

.sample-webpage {
  background: #ffffff;
  width: 1680px;
  height: 5124px;
  position: relative;
}

.hero-banner {
  position: absolute;
  inset: 0;
}

.pexels-paul-ijsendoorn-33041 {
  width: 1680px;
  height: 816px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.color-overlay {
  background: rgba(0, 0, 0, 0.59);
  width: 1680px;
  height: 816px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.banner-text-align-left {
  width: 493px;
  height: 290px;
  position: absolute;
  left: 263px;
  top: 222px;
}

.you-can-use-this-section-to-narrate-a-short-description-for-the-title-or-page {
  color: #ffffff;
  text-align: left;
  font: 400 24px/30px "Montserrat", sans-serif;
  position: absolute;
  left: 4px;
  top: 166px;
  width: 413px;
  height: 124px;
}

.replace-this-with-your-title {
  color: #ffffff;
  text-align: left;
  font: 600 64px/72px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 493px;
  height: 124px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.get-started-button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 263px;
  top: 547px;
}

.base {
  background: #b59066;
  border-radius: 999px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.text {
  color: var(--button-text-button-primary-text, #ffffff);
  text-align: center;
  font: 600 20px/24px "Montserrat", sans-serif;
  position: relative;
}

.gallery-background {
  background: #ffffff;
  width: 1680px;
  height: 3134px;
  position: absolute;
  left: 0px;
  top: 816px;
}

.rectangle-1 {
  background: #ffffff;
  width: 1245px;
  height: 764px;
  position: absolute;
  left: 218px;
  top: 1234px;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.gallery {
  width: 983px;
  height: 138px;
  position: absolute;
  left: 349px;
  top: 983px;
}

.section-title {
  color: #765c3d;
  text-align: center;
  font: 600 40px "Montserrat", sans-serif;
  position: absolute;
  left: 299px;
  top: 0px;
  width: 385px;
  height: 49px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam {
  color: #765c3d;
  text-align: center;
  font: 400 24px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 80px;
  width: 983px;
  height: 58px;
}

.contact-us-background {
  background: #fff2e4;
  width: 1680px;
  height: 1088px;
  position: absolute;
  left: 0px;
  top: 3950px;
}

.contact-us-image {
  position: absolute;
  inset: 0;
}

.pexels-alex-fu-2479178-1 {
  width: 808px;
  height: 1088px;
  position: absolute;
  left: 0px;
  top: 3950px;
}

.color-overlay2 {
  background: rgba(0, 0, 0, 0.59);
  width: 808px;
  height: 1088px;
  position: absolute;
  left: 0px;
  top: 3950px;
}

.contact-us {
  width: 509px;
  height: 138px;
  position: absolute;
  left: 933px;
  top: 4121px;
}

.section-title2 {
  color: #765c3d;
  text-align: left;
  font: 600 40px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 501.75px;
  height: 49px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam2 {
  color: #765c3d;
  text-align: left;
  font: 400 24px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 80px;
  width: 509px;
  height: 58px;
}

.name {
  width: 509px;
  height: 107px;
  position: absolute;
  left: 933px;
  top: 4301px;
}

.container {
  background: #ffffff;
  border-style: solid;
  border-color: #b59066;
  border-width: 1px;
  width: 509px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 35px;
}

.placeholder {
  color: #765c3d;
  text-align: left;
  font: 600 24px "Montserrat", sans-serif;
  position: absolute;
  left: 17.02px;
  top: 58px;
  width: 472.64px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.label-text {
  color: #b59066;
  text-align: left;
  font: 600 20px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 509px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.email-address {
  width: 509px;
  height: 107px;
  position: absolute;
  left: 933px;
  top: 4431px;
}

.message {
  width: 509px;
  height: 245px;
  position: absolute;
  left: 932px;
  top: 4561px;
}

.container2 {
  background: #ffffff;
  border-style: solid;
  border-color: #b59066;
  border-width: 1px;
  width: 509px;
  height: 210px;
  position: absolute;
  left: 0px;
  top: 35px;
}

.submit-button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1302px;
  top: 4848px;
}

.footer {
  position: absolute;
  inset: 0;
}

.container3 {
  background: #b59066;
  width: 1680px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 5068px;
}

._2023-all-rights-reserved {
  color: #fff2e4;
  text-align: center;
  font: 500 16px "Montserrat", sans-serif;
  position: absolute;
  left: 739px;
  top: 5086px;
}

.contact-us2 {
  width: 684px;
  height: 138px;
  position: absolute;
  left: 349px;
  top: 1299px;
}

.section-title3 {
  color: #765c3d;
  text-align: left;
  font: 600 40px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 674.26px;
  height: 49px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam3 {
  color: #765c3d;
  text-align: left;
  font: 400 24px "Montserrat", sans-serif;
  position: absolute;
  left: 0px;
  top: 80px;
  width: 684px;
  height: 58px;
}

.rectangle-2 {
  background: #ffffff;
  width: 1245px;
  height: 764px;
  position: absolute;
  left: 218px;
  top: 2111px;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.contact-us3 {
  width: 684px;
  height: 138px;
  position: absolute;
  left: 349px;
  top: 2176px;
}

.rectangle-3 {
  background: #ffffff;
  width: 1245px;
  height: 764px;
  position: absolute;
  left: 218px;
  top: 2988px;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.contact-us4 {
  width: 684px;
  height: 138px;
  position: absolute;
  left: 349px;
  top: 3053px;
}

.album-1-component {
  width: 1044px;
  height: 510px;
  position: absolute;
  left: 318px;
  top: 1488px;
}

.album-2-component {
  width: 1044px;
  height: 510px;
  position: absolute;
  left: 318px;
  top: 2365px;
}

.album-3-component {
  width: 1044px;
  height: 510px;
  position: absolute;
  left: 318px;
  top: 3242px;
}

.carousel-photos {
  width: 830px;
  height: 401px;
/*  position: absolute;*/
  left: 0px;
  top: 0px;
}

.nav-bar {
  position: sticky;
  left: 0px;
  top: 0px;
}

.container4 {
  background: #765c3d;
  width: 100%;
  height: 68px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.home {
  color: #f2d2ae;
  text-align: center;
  font: 500 18px "Montserrat", sans-serif;
  position: absolute;
  left: 1212px;
  top: 23px;
  width: 65.21px;
}

.gallery2 {
  color: #f2d2ae;
  text-align: center;
  font: 500 18px "Montserrat", sans-serif;
  position: absolute;
  left: 1322px;
  top: 23px;
  width: 95.05px;
}

.contact {
  color: #f2d2ae;
  text-align: center;
  font: 500 18px "Montserrat", sans-serif;
  position: absolute;
  left: 1462px;
  top: 23px;
  width: 95.05px;
}

.logo {
  width: 48.63px;
  height: 44px;
  position: absolute;
  left: 96.16px;
  top: 12px;
}
