.img-float {
	width: 250px;
	height: 250px;

	/* the float property can be set either to the left or right. this positioning depends on the content or sibling of the element you are selecting	*/
	float: right;
/*	z-index: 1;*/
}

.parent-element {
	background-color: skyblue;
	padding: 10px;

	/* if the parent has the position 'relative', any children with 'absolute' position will base on the parent, instead of the whole page	*/
	position: relative;
	height: 800vh;
	z-index: -1;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;

	/* static - the default positioning of any element, cannot use the tops, left, bottom, and right properties for this position */
	/* relative - the opposite of static wherein you can modify the top, left, bottom, and right properties to define the exact position of the element, and it also depends on the parent element */
	/* absolute - depends on the whole page itself, and you can still modify the exact position by using the top, left, bottom, and right properties */
	/* fixed - this will attach to the page itself, and will not move even if you scroll */
	/* sticky - this will be positioned relative by default, but once it reachees a certain scroll point, it will stick to the browser until it is back in its original position. the 'top' property is crucial for it to be able to stick with spacing on the top */

	/*position: absolute;
	left: 10px;
	bottom: 10px;*/

	position: sticky;
	top: 10px;
}

.child-three {
	background-color: indianred;
	padding: 10px;

	/* position is based on the page itself	*/
	/*position: sticky;
	left: 10px;*/
/*	bottom: 10px;*/
/*	top: 10px;*/
}

/* to emulate long scrolling page for the fixed and the sticky properties */
html {
	height: 800vh;
}