/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* border box includes padding and border */

body {
	font-family: 'Open Sans', sans-serif;
}

/* navbar */
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;

/* <li> elements are block elements by default	*/
	display: inline;
}
/* end of navbar */

/* intro section */
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: forestgreen;
	border-radius: 25px;
	border: 1px solid seagreen;
	font-size: 1rem;
	padding: 1rem;
/*	padding: 1rem 3rem 5rem 15rem; -- clockwise from top */
}
/* end of intro section */

/* succeed info section */
#succeed-info {
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;

}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin: 0 0.5rem 0 0.5rem;
}
/* end of succeed info section */